@mixin cd ($nameCd, $primaryColor, $secondaryColor, $icon){
    .primaryColor#{$nameCd}{
        background-color: $primaryColor;
    }

    .secondaryColor#{$nameCd}{
        background-color: $secondaryColor;
    }

    .image#{$nameCd}{
        background-image: url($icon);
    }
}

@include cd("example", #000000, #3E065F, "https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg");
@include cd("dark",#950101, #3D0000, "https://images.wave.fr/images//astroworld.jpg")