@import "_colors";

body {
  background-color: $bgPrimary;
  color: $textSecondary;
  margin: 0;
  padding: 1;
  font-size: 16px;

  main {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column-reverse;
    margin-left: 5rem;
    padding: 1em;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: flex-start;

      background-color: $bg3;
      border-radius: 25px;
      padding: 1rem;

      .icon {
        border-radius: 25px;
        width: 5rem;
        height: 5rem;
        vertical-align: middle;
        padding-right: 1em;
      }
    }
  }
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: $bgSecondary;
}

div:hover {
  background-color: $bg4;
}