@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: $bgPrimary;
  color: $textPrimary;
  margin: 0;
  padding: 1;
  font-size: 16px;

  main {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    margin-left: 5rem;

    padding-left: 1em;
    padding-right: 1em;

    div {
      font-family: "Roboto", serif;

      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: flex-start;

      background-color: $bgPrimary;
      transition: 600ms;

      border-bottom: solid $textSecondary;

      .icon {
        animation: turning 3s linear;
        animation-iteration-count: infinite;
        border-radius: 25px;
        width: $originalIconWIdthHeight;
        height: $originalIconWIdthHeight;
        vertical-align: middle;
        padding-right: 1em;
        padding: 1em;
      }

      .boxText {
        display: flex;
        flex-direction: column;
        border-bottom: none;
        padding: 0;

        filter: grayscale(100%) opacity(0.7);
      }
    }
  }
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: $bgSecondary;
}

div:hover .icon {
  width: $originalIconWIdthHeight + 2rem;
  height: $originalIconWIdthHeight + 2rem;
  animation: turning 3s linear;
}

div:hover .boxText {
  filter: grayscale(0%) opacity(1);
}

@keyframes turning {
  100% {
    transform: rotate(360deg);
  }
}