body {
  background-color: black;
  color: azure;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}
