<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>cdtheque</title>
	<link rel="icon" href="static/assets/favicon.ico" />
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/navbar.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
	<script type=text/javascript src="https://threejs.org/build/three.js"></script>
	<nav class="navbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="#" onclick="" class="nav-link">
					<i class="fa bi-house-fill " ></i>
					<span class="link-text">home</span>
				</a>
			</li>

			<li class="nav-item">
				<a href="#" onclick="cdtheque()" class="nav-link">
					<i class="bi bi-disc-fill fa" width="32" height="32" fill="currentColor"></i>
					<span class="link-text">something else</span>
				</a>
			</li>
		</ul>
	</nav>
	<main id="main_box">
		<div id="boxAlbum">
			<div id="image" class="turning">
				<div id="cdHole"></div>
			</div>
			<div id="BoxText">
				<h1>song</h1>
				<h2>artist</h2>
			</div>
			<div id="arrowContainer">
				<i class="bi bi-skip-backward-fill arrow" width="32" height="32"></i>
				<i id="pausePlay" class="bi bi-pause-fill pause" onclick="playPause()"></i>
				<i class="bi bi-skip-forward-fill arrow" width="32" height="32"></i>
			</div>
		</div>
		<div id="chooseAlbum">
		</div>
	</main>
	<script src="static/js/index.js"></script>
</body>
</html>